<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Document upload form</h1></center>
    <form action="filesave" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Enter your nane", name="fullname"
        <br><br>
        <input type="file" placeholder="enter your document", name="photo"
        <br>
        <br>
        <button>upload</button>

    </form>
</body>
</html>