<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/login_check">
        {% csrf_token %}    
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email">
        <br><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>